<h1>Dashboard</h1>

<form action="/createCharacter" method="post">
    Name:<br>
    <input type="text" name="name" value="">
    <br>
    <input type="radio" name="charClass" value="assassin"> Assassin<br>
    <input type="radio" name="charClass" value="knight"> Knight<br>
    <input type="radio" name="charClass" value="spellcaster"> Spellcaster<br>
    <input type="radio" name="charClass" value="warrrior"> Warrior<br>
    <input type="submit" value="Create">
</form>
<br>
List of Characters
<br>
<div>
    <ul>
        <% characters.forEach(function(character) { %>
        <div>
            <!--output character attributes-->
            <span><%= character.name %></span>

            <!-- show button for optimize -->
            <!-- check if optimized already -->
            
        </div>
        <% }); %>
    </ul>
</div>
